.navBar {
    position: fixed; /* Ensures it stays at the top of the screen */
    left: 0;
    top: 5%; /* Aligns it to the top of the screen */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; /* Covers the full width of the screen */
    height: 5%; /* Adjust as needed for navbar height */
    font-size: 30px;
    background-color: darkblue;
    z-index: 1000; /* Ensures it stays above other content */
}

.link {
    /*background-color: rgba(0, 0, 0, 0.25); */
    display: flex;
    color: white;
    /*border-radius: 5%;  */
    border-bottom: 2.5px solid white;
}



.user-icon {
    background-color: gold;
    display: flex;
    color: black;
    border-radius: 50%;
    width: 10%;
    width: 5%;
    justify-content: center;

    border-bottom: 2.5px solid white;
}